<div class="col-lg-7 col-md-7">
  <div class="widget">
    <div class="widget-header">
      <div class="row">
        <div class="pull-left"><i class="fa {{icon}}"></i> {{title}}</div>
        <div class="pull-right col-xs-6 col-sm-4">
        </div>
      </div>
    </div>
    <div class="widget-body {{classes}}">
      <div class="widget-content">
        <pre>{{ stringifyData }}</pre>
      </div>
    </div>
    <div class="widget-footer">
      <ul class="pagination pagination-sm pull-right">
        <li><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit DataLayer</a></li>
      </ul>
      <ul class="pagination pagination-sm pull-left">
        <li><a href="#"><i class="fa fa-backward" aria-hidden="true"></i> Back to Patterns</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>